.center-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
        }
        

#item-select-section {
    
    max-width: 40rem; 
    padding: 1rem; 
}

#cart-section {
   
    max-width: 60rem; 
    max-height: 60rem;
    padding: 1rem;     
}
