body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    color: white;
}

.login-container {
    padding: 50px; 
    border-radius: 10px; 
    margin: 100px auto; 
    max-width: 500px; 
}





